{% extends 'basic.html' %}
{% block title %}
  Everkind - Login
{% endblock %}
{% block content %}
  <body>
    <section class="d-flex vh-100 vw-100 justify-content-between">
      <div class="w-100">
        <div class="d-grid w-100 h-100">
          <div class="d-flex flex-column align-items-center m-auto">
            <h1 style="font-family: var(--heading-font)">Login to your account</h1>
            {% with messages=get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger rounded-5 w-100" role="alert">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form class="d-flex flex-column align-items-center gap-3 w-100" action="/auth/login" method="post" novalidate>
              {{ form.hidden_tag() }}
              <fieldset class="w-100">
                {{ form.username.label }}
                {{ form.username(class='form-control form-control-lg w-100 rounded-3') }}
                {% for error in form.username.errors %}
                  <div class="alert alert-danger bg-transparent border-0 p-0 text-danger" role="alert">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ error }}
                  </div>
                {% endfor %}
              </fieldset>
              <fieldset class="w-100">
                {{ form.password.label }}
                {{ form.password(class='form-control form-control-lg w-100 rounded-3') }}
                {% for error in form.password.errors %}
                  <div class="alert alert-danger bg-transparent border-0 p-0 text-danger" role="alert">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ error }}
                  </div>
                {% endfor %}
              </fieldset>
              <fieldset>{{ form.remember_me.label }}
                {{ form.remember_me(class='form-check-input me-2 rounded-2', style='color: var(--primary-color) !important;') }}</fieldset>
              {{ form.submit(class='btn btn-primary btn-lg', style='width: 60%;') }}
            </form>
            <span class="d-flex flex-column gap-3 w-100 align-items-center">
              <div class="w-100" style="height: 1px; background-color: #a6a6a6;"></div>
              <p class="text-start align-items-start d-flex flex-column align-items-center">
                You don't have an account? <a href="/auth/register" class="text-black text-bold">Register here</a>
              </p>
            </span>
          </div>
        </div>
      </div>
      <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?q=80&w=1980&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3DD" style="object-fit: cover; width: 45vw;" class="vh-100" id="auth_image" />
    </section>
  </body>
{% endblock %}
