{% extends 'layout.html' %}
{% block title %}
  Manage rooms
{% endblock %}
{% block body %}
  {% if rooms|length == 0 %}
    <div class="container-fluid w-full d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
      <h1 class="display-3 fw-bold" style="font-family: var(--heading-font);">You does not have any rooms</h1>
      <p>But you can change that by adding a new room</p>
      <a href="/rooms" class="btn btn-primary">Book now</a>
    </div>
  {% else %}
    <section class="container-fluid w-full" id="rooms-layout__content">
      <div class="position-relative">
        <!-- Banner with a background image and title in the center of the image -->
        <img src="https://images.pexels.com/photos/16648047/pexels-photo-16648047/free-photo-of-interior-design-of-living-room.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block" alt="..." style="object-fit: cover; width: 100%; height: 40vh;" id="black-filter" />
        <span class="position-absolute top-50 start-50 translate-middle text-white d-flex flex-column text-center"><h1 style="font-family: var(--heading-font); font-size: 60px;">Manage your rooms</h1><p>Here you can manage your rooms. You can add, edit, or delete rooms.</p></span>
      </div>
      <div class="d-grid w-full gap-2 my-5" style="grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));">
        {% for room in rooms %}
          <div class="card rounded-5">
            <div class="rounded-5 card-img image{{ room.3 }} w-full position-relative" style="background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0, 0.80) 100%), url({{ room.11 }}); background-size: cover; background-position: center; height: 200px;" alt="{{ room.name }}">
              <h2 class="position-absolute start-50 translate-middle text-white" style="font-family: var(--heading-font); top: 90%;">#{{ room.2 }}</h2>
            </div>
            <div class="card-body bg-white">
              <h5 class="card-title">{{ room.1 }}</h5>
              <h6 class="card-text">Capacity: <i class="fa-solid fa-people-group"></i> {{ room.3 }} - {{ room.9 }}</h6>
              <p class="card-text">{{ room.10 }}</p>
              <a href="/rooms/{{ room.0 }}/cancel" class="btn btn-danger text-white">Cancel room</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endblock %}
