:root {
  --primary-font: "Moderustic", sans-serif;
  --heading-font: "DM Serif Display", serif;
}

body {
  font-family: var(--primary-font);
}

.carousel-inner {
  max-height: 75vh;
}

.btn-primary {
  background-color: #3d5e46;
}