{% extends 'basic.html' %}

{% block content %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-family: var(--heading-font)" href="/"><i class="fa-solid fa-people-roof"></i>The Peoples Proyect</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/rooms/manage">Rooms/Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#"></a>
          </li>
        </ul>
      </div>
      <div class="d-flex gap-2">
        <a class="btn btn-outline">{{ current_user.username }}</a>
        <a class="btn btn-primary" href="/auth/logout">Logout</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid w-full">
    <table class="table table-striped table-hover table-bordered rounded-5">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User ID</th>
          <th>Occupant ID</th>
          <th>Visit ID</th>
          <th>Room Order ID</th>
          <th>Move ID</th>
          <th>Action Date</th>
          <th>Created at</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ order.0 }}</td>
            <td>{{ order.1 }}</td>
            <td>{{ order.2 }}</td>
            <td>{{ order.3 }}</td>
            <td>{{ order.4 }}</td>
            <td>{{ order.5 }}</td>
            <td>{{ order.6 }}</td>
            <td>{{ order.7 }}</td>
            <td>{{ order.8 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
