:root {
  --primary-font: "Montserrat", sans-serif;
  --heading-font: "Domine", serif;

  --display-size: calc(50px + 56 * ((100vw - 768px) / 1152));
  --display-size-small: calc(30px + 56 * ((100vw - 768px) / 1152));

  --primary-color: #4ecb4b;
  --secondary-color: #fcf5eb;
  --tertiary-color: color-mix(in hsl, var(--primary-color), black 20%);
  --foreground-color: #020202;

  --filter-primary-color: brightness(0) saturate(100%) invert(65%) sepia(96%) saturate(351%) hue-rotate(66deg) brightness(88%) contrast(90%);

  --font-color: var(--foreground-color);

  --site-bg: var(--secondary-color);

  --button-bg: var(--primary-color);
  --button-tertiary: var(--tertiary-color);
  --button-color: var(--foreground-color);
  --button-hover: var(--tertiary-color);

  --fa-border-color: var(--foreground-color);
  --fa-border-width: 2px;
}

body {
  font-family: var(--primary-font);
  color: var(--font-color);
  background-color: var(--site-bg);
}

.carousel {
  max-height: 50vh !important;
  max-width: 90% !important;
}

.card {
  background-color: var(--secondary-color);
}

.form-control {
  background-color: var(--secondary-color) !important;
  border-color: #000000 !important;
}

.btn-primary {
  background-color: var(--button-bg);
  border-color: #000000;
  color: var(--button-color) !important;
}

.btn-primary:hover {
  background-color: var(--button-tertiary);
  border-color: #000000;
  color: #000000 !important;
}

.btn-outline {
  background-color: transparent;
  border-color: #000000;
  color: var(--foreground-color) !important;
  border-radius: 0;
}

.btn-outline:hover {
  background-color: var(--button-bg);
  border-color: #000000;
  color: var(--button-color) !important;
}

.btn {
  border-radius: 2rem;
  color: var(--button-bg);
  padding: 0.5rem 1rem !important;
}

.btn:hover {
  color: var(--button-color)
}

.card-dashboard:hover {
  /* Color transition */
  transition: 0.1s;
  background-color: var(--button-bg);
}


/* Add arrow animation */
#arrow_forward {
  animation: forward-loop 2s infinite;
}

#arrow_down {
  animation: down-loop 2s infinite;
}

@keyframes forward-loop {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes down-loop {
  0% {
    transform: translateY(0) scale(4, 4);
  }

  50% {
    transform: translateY(10px) scale(4, 4);
  }

  100% {
    transform: translateY(0) scale(4, 4);
  }
}

#black-filter {
  filter: brightness(0.5);
}

/* Rounded scrollbar with support for Firefox */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px !important;
  box-shadow: none !important;
  min-height: 24px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color);
}

#home-layout__banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

/* Text selection color */
::selection {
  background-color: var(--primary-color);
  color: var(--foreground-color);
}

/* media queries */
@media (max-width: 768px) {
  #home-layout__banner {
    flex-direction: column;
    align-items: center;
  }

  #home_title_limiter {
    width: 100%;
  }

  #auth_image {
    display: none;
  }

  .reviews-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}