{% extends 'layout.html' %}
{% block title %}
  Information - Everkind
{% endblock %}
{% block body %}
  <section class="container-fluid gap-3 d-flex flex-column align-items-center justify-content-center">
    <h1>About us</h1>
    <p>Everkind is an organization that provides a safe and secure environment for older people to live in. We believe that everyone deserves to live in a place where they feel safe and secure, and we are committed to providing that for our residents.</p>
    <p>Our mission is to provide a safe and secure environment for older people to live in, because we believe that everyone deserves to live in a place where they feel safe and secure. We have been providing a safe and secure environment for older people for over 10 years, and our reviews speak for themselves.</p>
  </section>
{% endblock %}
