{% extends 'layout.html' %}
{% block contenido %}
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success" role="alert">
          <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Perfil</th>
        <th scope="col" colspan="2">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-user-plus"></i></button>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for u in usuarios %}
        <tr>
          <th scope="row">{{ u.0 }}</th>
          <td>{{ u.1 }}</td>
          <td>{{ u.2 }}</td>
          <td>{{ u.4 }}</td>
          <td>{{ u.5 }}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/admin/users/create" method="post">
          <div class="modal-body">
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" name="name" id="form3Example1cg" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example1cg">Your Name</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example3cg">Your Email</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" name="password" id="form3Example4cg" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example4cg">Password</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" name="password-repeated" id="form3Example4cdg" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example4cdg">Repeat your password</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-4">
              <select class="form-select" name="profile" id="form3Example5cg">
                <option value="A">Admin</option>
                <option value="U">User</option>
              </select>
              <label class="form-label" for="form3Example5cg">Select your role</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Create user</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
