{% extends layout %}
{% block contenido %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Fecha de registro</th>
        <th scope="col">Perfil</th>
        <th scope="col">&nsbp;</th>
      </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  {%endblock%}