{% extends 'layout.html' %}
{% block contenido %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de registro</th>
                <th scope="col">Perfil</th>
                <th scope="col">&nsbp;</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
                <tr>
                    <th scope="row">{{ u.0 }}</th>
                    <td>{{ u.1 }}</td>
                    <td>{{ u.2 }}</td>
                    <td>{{ u.4 }}</td>
                    <td>{{ u.5 }}</td>
                    <td colspan="2">{&nsbp;}</td>
                    <td>{&nsbp;}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
