{% extends 'basic.html' %}
{% block title %}
  Everkind - Sign Up
{% endblock %}
{% block content %}
  <body>
    <section class="d-flex" style="width: 100%;">
      <div id="auth-layout__form">
        <div class="d-grid" style="width: 100%; height: 100%; place-content: center;">
          <div class="d-flex flex-column align-items-center m-auto" style="max-width: 400px;">
            <h1 style="font-family: var(--heading-font)">Welcome,<br /> create your account</h1>
            {% with messages=get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger rounded-0 w-100" role="alert">
                    <i class="fa-solid fa-circle-exclamation"></i> {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <form class="d-flex flex-column align-items-center gap-3" action="/auth/register" method="post" style="width: 100%">
              <fieldset class="w-100">
                <label for="email">Your Email</label>
                <input class="form-control form-control-lg w-100 rounded-0" type="email" name="username" id="username" required />
              </fieldset>
              <fieldset class="w-100">
                <label for="clave">Password</label>
                <input class="form-control form-control-lg w-100 rounded-0" type="password" name="password" id="password" required />
              </fieldset>
              <fieldset class="w-100">
                <label for="password">Repeat your password</label>
                <input class="form-control form-control-lg w-100 rounded-0" type="password" name="repeat-password" id="password" required />
              </fieldset>
              <fieldset>
                <input class="form-check-input me-2 rounded-0" style="color: #e74e2c;" type="checkbox" value="" name="terms" id="form2Example3cg" />
                <label class="form-check-label">I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a></label>
              </fieldset>
              <button class="btn btn-primary btn-lg" type="submit">Create account</button>
            </form>
            <p class="text-start align-items-start">
              You already have an account? <a href="/auth/login" class="text-black text-bold">Login here</a>
            </p>
          </div>
        </div>
      </div>
      <img id="auth-layout__image" src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?q=80&w=1980&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3DD" style="object-fit: cover;" />
    </section>
  </body>
{% endblock %}
