{% extends 'layout.html' %}
{% block title %}
  The page you are looking for does not exist
{% endblock %}
{% block body %}
  <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/043/287/643/small_2x/illustration-style-3d-render-of-old-man-is-shaking-his-head-isolated-on-transparent-background-png.png" />
    <h1 style="font-family: var(--heading-font); font-size: 3rem;">404</h1>
    <p>The page you are looking for does not exist</p>
  </div>
{% endblock %}
