{% extends 'layout.html' %}
{% block title %}
  Everkind
{% endblock %}
{% block body %}
  <section class="d-flex container-fluid align-content-center" id="home-layout__banner" style="margin-bottom: 38vh;">
    <span class="position-relative w-100">
      <div class="position-absolute top-0 w-100 h-100 rounded-5" style="left: 0; background-color: rgba(0, 0, 0, 0.7);"></div>
      <span class="position-absolute top-50 start-50 translate-middle text-white d-flex flex-column text-center" id="home_title_limiter"><h1 class="fw-bold" style="font-family: var(--heading-font);"><span style="color: var(--primary-color);">Everkind</span>, <br /> where safety meets comfort</h1></span>
      <video autoplay muted loop class="rounded-5" style="width: 100%; height: 100%;">
        <source src="{{ url_for('static', filename='assets/home_video.webm') }}" type="video/mp4" />
      </video>
    </span>
  </section>
  <section class="container-fluid gap-3 d-flex flex-column align-items-center justify-content-center" id="home-layout__banner">
    <i class="fa-solid fa-angles-down mb-5 pb-3" id="arrow_down" style="transform: scale(5, 5); filter: var(--filter-primary-color);"></i>
    <span class="text-center">
      <h1 class="display-1 fw-bold" style="font-family: var(--heading-font);">Our main goal, your safety</h1>
      <p>Our mission is to provide a safe and secure environment for older people to live in, because we believe that everyone deserves to live in a place where they feel safe and secure.</p>
    </span>
    <img src="https://images.pexels.com/photos/7329698/pexels-photo-7329698.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 rounded-5" alt="..." style="max-height: 600px; object-fit: cover;" />
  </section>
  <section class="container-fluid gap-3 my-5 d-flex align-items-start justify-content-center" id="home-layout__banner">
    <span class="text-start">
      <h1 class="display-1 fw-bold" style="font-family: var(--heading-font);">Our reviews say it all</h1>
      <p>We have been providing a safe and secure environment for older people for over 10 years, and our reviews speak for themselves.</p>
    </span>
    <div class="d-flex justify-content-center gap-3 reviews-cards">
      <div class="card border-black p-3 rounded-4">
        <img src="https://images.pexels.com/photos/3018993/pexels-photo-3018993.jpeg?auto=compress&cs=tinysrgb&w=600" class="card-img-top align-self-center border-2 border border-black" alt="..." style="width: 160px; height: 160px; border-radius: 50%; object-fit: cover;" />
        <div class="card-body">
          <h5 class="card-title">Victor suarez</h5>
          <p class="card-text">
            I have been living here for over 5 years and I have never felt safer.<br /><span class="fst-italic">Oct, 2023</span>
          </p>
          <div class="d-flex">
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
          </div>
        </div>
      </div>
      <div class="card border-black p-3 rounded-4">
        <img src="https://images.pexels.com/photos/3768117/pexels-photo-3768117.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top align-self-center border-black border-2 border" alt="..." style="width: 160px; height: 160px; border-radius: 50%; object-fit: cover;" />
        <div class="card-body">
          <h5 class="card-title">Sonia Jenkins</h5>
          <p class="card-text">
            I am so grateful for the care and support I have received here.<br /><span class="fst-italic">Sep, 2024</span>
          </p>
          <div class="d-flex">
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
            <i class="fa-solid fa-star" style="filter: var(--filter-primary-color); -webkit-text-stroke-color: black; -webkit-text-stroke-width: 1px;"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid gap-3 d-flex flex-column align-items-center justify-content-center" id="home-layout__banner" style="margin-top: 15rem; margin-bottom: 15rem;">
    <span class="text-center">
      <h1 class="display-1 fw-bold" style="font-family: var(--heading-font);">Its time to <span class="px-2 text-decoration-underline" style="color: var(--primary-color); transform: rotate(-10deg);">book</span> your stay</h1>
      <p>Our rooms are filling up fast, so book your stay today to avoid disappointment.</p>
    </span>
    <a class="btn btn-primary" style="cursor: auto;" href="/rooms">Book now</a>
  </section>
  <div class="cursor"></div>
  <div class="cursor2"></div>
  <style>
    * {
      cursor: none;
    }
    
    .cursor {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: 1px solid black;
      transition: all 200ms ease-out;
      position: fixed;
      pointer-events: none;
      left: 0;
      top: 0;
      transform: translate(calc(-50% + 15px), -50%);
    }
    
    .cursor2 {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: black;
      opacity: 0.3;
      position: fixed;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: width 0.3s, height 0.3s, opacity 0.3s;
    }
    
    .hover {
      background-color: black;
      opacity: 0.3;
    }
    
    .cursorinnerhover {
      width: 30px;
      height: 30px;
      opacity: 0.5;
    }
  </style>
  <script>
    var cursor = document.querySelector('.cursor')
    var cursorinner = document.querySelector('.cursor2')
    var a = document.querySelectorAll('a')
    
    // use APIs to detect if the user is on a touch device
    if ('ontouchstart' in window) {
      cursor.style.display = 'none'
      cursorinner.style.display = 'none'
    }
    
    document.addEventListener('mousemove', function (e) {
      var x = e.clientX
      var y = e.clientY
      cursor.style.transform = `translate3d(calc(${e.clientX}px - 50%), calc(${e.clientY}px - 50%), 0)`
    })
    
    document.addEventListener('mousemove', function (e) {
      var x = e.clientX
      var y = e.clientY
      cursorinner.style.left = x + 'px'
      cursorinner.style.top = y + 'px'
    })
    
    document.addEventListener('mousedown', function () {
      cursor.classList.add('click')
      cursorinner.classList.add('cursorinnerhover')
    })
    
    document.addEventListener('mouseup', function () {
      cursor.classList.remove('click')
      cursorinner.classList.remove('cursorinnerhover')
    })
    
    a.forEach((item) => {
      item.addEventListener('mouseover', () => {
        cursor.classList.add('hover')
      })
      item.addEventListener('mouseleave', () => {
        cursor.classList.remove('hover')
      })
    })
  </script>
{% endblock %}
